.education {
  text-align: center;
  padding: 40px 0px;
}

.education h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
}

.education-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  justify-content: center;
}

.education-item {
  text-align: center;
}

.education-logo-container {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.education-logo-container:hover {
  transform: translateY(-5px);
}

.education-logo {
  max-width: 70%;
  max-height: 70%;
}

.education-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
  margin: 10px 0 5px 0;
}

.education-date {
  font-size: 0.9rem;
  color: #777;
}

@media (max-width: 768px) {
  .education-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .education-logo-container {
    height: 200px;
  }
}

@media (max-width: 576px) {
  .education-container {
    grid-template-columns: 1fr;
  }

  .education-logo-container {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
  }
}